<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>dslr-pi-control</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Daniel J. H.">
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
		<script src="{{ url_for('static', filename='js/respond/respond.min.js') }}"></script>
		<![endif]-->
		{% endblock head %}
	</head>
	<body>
		{% block body %}
		{{ msg }}
		{% endblock body %}

		{% block scripts %}
		<script src="{{ url_for('static', filename='js/jquery-2.0.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock scripts %}
	</body>
</html>
