<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>dslr-pi-control</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Daniel J. H.">
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
		<script src="{{ url_for('static', filename='js/respond/respond.min.js') }}"></script>
		<![endif]-->
		{% endblock head %}
	</head>
	<body>


		<div class="navbar navbar-static-top">
			<div class="container">
				<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="navbar-brand" href="#">DSLR-Pi-Control</a>
				<div class="nav-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			{% block body %}
			<h1>{{ msg }}</h1>
			{% endblock body %}
		</div>

		{% block scripts %}
		<script src="{{ url_for('static', filename='js/jquery-2.0.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock scripts %}
	</body>
</html>
