{% extends 'baselayout.html' %}
{% set active_page = 'camera' %}

{% block body %}
<div class="row">
	<div class="col col-lg-6 col-offset-3">
		<table class="table table-striped">
			<caption>{{ caption }}</caption>
			<thead>
				<tr>
					<th>#</th>
					{% for header in headers %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>

			</thead>
			<tbody>
				{% for property in properties %}
				<tr>
					<td>{{ loop.index }}</td>
					{% for key, value in property.iteritems() %}
					<td>{{ value }}</td>
					{% endfor %}

				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>
{% endblock body %}
