{% extends 'baselayout.html' %}
{% set active_page = 'camera' %}

{% block body %}
<div class="row">
    <div class="col col-lg-6 col-offset-3">
        <table class="table table-striped">
            <caption>{{ caption }}</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ header.get('key', 'Key') }}</th>
                    <th>{{ header.get('value', 'Value') }}</th>
                </tr>

            </thead>
            <tbody>
                {% for key, value in properties.iteritems() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
